/* Mobile-specific styles */
@media (max-width: 640px) {
  .item {
    min-width: 15vh;
    flex: 1;
    height: 100vh; /* Ensure the panels fit the full height of the viewport */
    transition: flex 0.8s ease;
  }

  .gallery-wrap {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    height: 100vh;
  }

  .item.active {
    flex: 0 0 80%;
    transition: flex 0.8s ease;
  }

  .item img {
    height: auto;
    padding: 2vh 4vw;
  }

  .item .copy {
    display: none;
  }

  .item.active .copy {
    display: block;
    margin: 2vh 2vw;
  }
}
